.root {
  .searchbar {
    width: 100%;
  }
  .swiper-img {
    height: 100%;
  }
  .tabImg{
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
  }

  .showServes{
    margin: 8px 0;
  }

  :global(.row + .row) {
    margin-top: 8px;
  }
}