
.w-100{
  width: 100%;
}

.nopadding{
  padding: 0 !important;
}


.text-center{
  text-align: center;
}

.mt-10px{
  margin-top: 10px;
}

.mb-10px{
  margin-bottom: 10px;
}

.mb0{
  margin-bottom: 0 !important;
}

.nomargin{
  margin: 0 !important;
}

.f-small{
  font-size: .8em;
}

.f-xsmall{
  font-size: .6em;
}

.w-50{
  width: 50%;
}

.inline-block{
  display: inline-block;
}
