.root{
  height: 120px;
  width: 100%;
  :global(.anchorBL){
    img{
      display: none;
    }
  }
  :global(.BMap_noprint.anchorBL) {
    bottom: 2px !important;
    left: 2px !important;
  }
}

.map{
  width: 100%;
  height: 100%;
}

.customCtrlPopMap{
  width: 32px;
  height: 32px;
  background: #f8f8f8;
  box-shadow: 1px 1px 1px rgba(0,0,0,.2);
  border: 1px solid #f8f8f8;
}