<div data-name="user-main" class="page">

  <!-- Scrollable page content -->
  <div class="page-content">
  <!-- Top Navbar -->
  <div class="navbar">
    <div class="navbar-inner sliding">
      <div class="title">Axxxxxxp</div>
    </div>
  </div>
    <p>Page content goes here</p>
    <!-- Link to another page -->

  </div>
</div>