<div class="page">
  <div class="page-content">
    <div class="list media-list">
      <ul>
        <li>
          <div class="item-content" {{action "goChat"}}>
            <div class="item-media">
              <img src="http://www.w3school.com.cn/ui2017/compatible_chrome.png" width="44" />
            </div>
            <div class="item-inner">
              <div class="item-title-row">
                <div class="item-title">聊天标题</div>
                <div class="item-after">17:14</div>
              </div>
              <div class="item-subtitle">最后一条消息记录内容</div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content">
            <div class="item-media">
              <img src="http://www.w3school.com.cn/ui2017/compatible_chrome.png" width="44" />
            </div>
            <div class="item-inner">
              <div class="item-title-row">
                <div class="item-title">聊天标题</div>
                <div class="item-after">17:14</div>
              </div>
              <div class="item-subtitle">你为什么不说话</div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content">
            <div class="item-media">
              <img src="http://www.w3school.com.cn/ui2017/compatible_chrome.png" width="44" />
            </div>
            <div class="item-inner">
              <div class="item-title-row">
                <div class="item-title">聊天标题</div>
                <div class="item-after">17:14</div>
              </div>
              <div class="item-subtitle">大家好我是Michael Jackson</div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>