{{#application/app-main elementId="app"}}
<!-- Statusbar overlay -->
<div class="statusbar"></div>

<!-- Your main view, should have "view-main" class -->
<div class="view view-main">
  <!-- Initial Page, "data-name" contains page name -->
  {{outlet}}
</div>
{{/application/app-main}}